<%= form_with(model: financial_objects_income) do |form| %>
  <% if financial_objects_income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financial_objects_income.errors.count, "error") %> prohibited this financial_objects_income from being saved:</h2>

      <ul>
        <% financial_objects_income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, decorate(current_user).my_categories_expenses, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
