<%= form_with(model: financial_objects_income) do |form| %>
  <% if financial_objects_income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financial_objects_income.errors.count, "error") %> prohibited this financial_objects_income from being saved:</h2>

      <ul>
        <% financial_objects_income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= render(InputTextField::Component.new(form: form,
                                             attribute_name: :description)) %>
  </div>

  <div class="field">
    <%= render(InputMoneyField::Component.new(form: form,
                                              attribute_name: :currency)) %>
  </div>

  <div class="field">
    <%= render(SelectField::Component.new(form: form,
                                         attribute_name: :category_id,
                                          items: decorate(current_user).my_categories_incomes)) %>
  </div>

  <div class="field">
    <%= render(DatePicker::Component.new(klass: form.object_name,
                                         form: form,
                                         attribute_name: :date,
                                         date: financial_objects_income.date)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
