<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @financial_objects_income.description %>
</p>

<p>
  <strong>Currency:</strong>
  <%= number_to_currency(@financial_objects_income.currency) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @financial_objects_income.category.title %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @financial_objects_income.wallet_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= decorate(@financial_objects_income.date).long %>
</p>

<%= link_to 'Edit', edit_financial_objects_income_path(@financial_objects_income) %> |
<%= link_to 'Back', financial_objects_incomes_path %>
