<p id="notice"><%= notice %></p>

<h1>Financial Objects Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Currency</th>
      <th>Category</th>
      <th>Payment method</th>
      <th>Wallet</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_objects_expenses.each do |financial_objects_expense| %>
      <tr>
        <td><%= financial_objects_expense.description %></td>
        <td><%= financial_objects_expense.currency %></td>
        <td><%= financial_objects_expense.category.title %></td>
        <td><%= financial_objects_expense.payment_method.title %></td>
        <td><%= financial_objects_expense.wallet_id %></td>
        <td><%= financial_objects_expense.date %></td>
        <td><%= link_to 'Show', financial_objects_expense %></td>
        <td><%= link_to 'Edit', edit_financial_objects_expense_path(financial_objects_expense) %></td>
        <td><%= link_to 'Destroy', financial_objects_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial Objects Expense', new_financial_objects_expense_path %>
