<%# Finance card %>
<div class="item-bg">
  <div class="flex items-center">
        <span class="rounded-xl relative py-1 px-3 bg-<%= @icon_color_class %>-200">
          <i class="fas fa-dollar-sign text-<%= @icon_color_class %>-500"></i>
        </span>
    <p class="chart-title ml-2">
      <%= @title %>
    </p>
  </div>
  <div class="flex flex-col justify-start">
    <p class="text-blueGray-700 dark:text-blueGray-100 text-4xl text-left font-bold my-4">
      <%= number_to_currency(@currency) %>
      <span class="text-sm">
                $
            </span>
    </p>
    <div class="flex items-center text-<%= @icon_color_class %>-500 text-sm">
      <%= heroicon @icon_class,
                   options: {
                     class: "h-6 pr-1"
                   }%>
<!--      <svg width="20" height="20" fill="currentColor" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">-->
<!--        <path d="M1408 1216q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45 19-45l448-448q19-19 45-19t45 19l448 448q19 19 19 45z">-->
<!--        </path>-->
<!--      </svg>-->
      <span>
                <%=@difference%>%
            </span>
      <span class="text-blueGray-400">
                vs last month
            </span>
    </div>
  </div>
</div>
