<h1>Dashboards::Dashboard#annual</h1>
<p>Find me in app/views/dashboards/dashboard/annual.html.erb</p>
<h1 type="year"><%= @year %></h1>

<%= form_with url: "/annual", method: :get do |form| %>
  <%= form.label :year, "Choose a year:" %>
  <%= form.select :year, (Time.now.year).downto(Time.now.year - 100).to_a, selected: @year %>
  <%= form.submit "Go" %>
<% end %>

<h2>Income +<%= number_to_currency(@report.total_incomes_currency) %></h2>

<h2>Expense -<%= number_to_currency(@report.total_expenses_currency) %></h2>

<%
  @data =     [
    {name: "Incomes", data: { "Incomes": @report.total_incomes_currency }},
    {name: "Expenses", data: { "Expenses": @report.total_expenses_currency }}
  ]

%>
<h2>Expenses vs Incomes</h2>
<%= bar_chart @data, stacked: true%>

<%  @data = [{:name=>"Income",  :data=> @report.monthly_income }, {:name=>"Expense",  :data=> @report.monthly_expense }] %>
<h2>Total Expenses and Incomes every month</h2>
<%= line_chart @data %>

<br>
<br>

<h2>Expenses by category</h2>
<%= pie_chart @report.expenses_currency_by_categories  %>

<br>
<br>

<h2>Incomes by category</h2>
<%= pie_chart @report.incomes_currency_by_categories %>
