<h1>Dashboards::Dashboard#annual</h1>
<p>Find me in app/views/dashboards/dashboard/annual.html.erb</p>
<p type="month"><%= @year %></p>

<%= form_with url: "/annual", method: :get do |form| %>
  <%= form.label :year, "Choose a year:" %>
  <%= form.select :year, (Time.now.year).downto(Time.now.year - 100).to_a, selected: @year %>
  <%= form.submit "Go" %>
<% end %>

<%#= line_chart FinancialObjects::Income.where("created_at > ? AND created_at < ?", Time.now.beginning_of_month, Time.now.end_of_month, 1).group_by_day(:date).count %>
<% conditions1 = []
   conditions1 << ["date_part('year', financial_objects_incomes.date) = '#{@year}'"]
   conditions1 << ["financial_objects_incomes.wallet_id = #{1}"]
   conditions1 = conditions1.map do |conds|
     " ( #{conds.join(' AND ')} ) "
   end.join(' AND ')
%>
<% conditions = []
   conditions << ["date_part('year', financial_objects_expenses.date) = '#{@year}'"]
   conditions << ["financial_objects_expenses.wallet_id = #{1}"]
   conditions = conditions.map do |conds|
     " ( #{conds.join(' AND ')} ) "
   end.join(' AND ')
%>

<h3>Income <%= BigDecimal(FinancialObjects::Income.where(conditions1).sum(:currency)).to_f %></h3>
<h3>Expense <%= BigDecimal(FinancialObjects::Expense.where(conditions).sum(:currency)).to_f %></h3>

<%
  @data =     [
    {name: "Incomes", data: {"Incomes": FinancialObjects::Income.where(conditions1).sum(:currency)}},
    {name: "Expenses", data: {"Expenses": FinancialObjects::Expense.where(conditions).sum(:currency)}}
  ]

%>
<h2>Expenses vs Incomes</h2>
<%= bar_chart @data, stacked: true%>


<% @a = FinancialObjects::Income.where(conditions1).group_by_month(:date).sum('financial_objects_incomes.currency') %>
<% @b= FinancialObjects::Expense.where(conditions).group_by_month(:date).sum('financial_objects_expenses.currency') %>
<%  @data = [{:name=>"Income",  :data=> @a }, {:name=>"Expense",  :data=> @b }] %>
<h2>Total Expenses and Incomes every month</h2>
<%= line_chart @data %>

<br>
<br>

<% @c = FinancialObjects::Income.where(conditions1).joins(:category).group('categories_category_incomes.title').sum('financial_objects_incomes.currency') %>

<% @d= FinancialObjects::Expense.where(conditions).joins(:category).group('categories_category_expenses.title').sum('financial_objects_expenses.currency') %>

<h2>Expenses by category</h2>
<%= pie_chart @d  %>
<br>
<br>
<h2>Incomes by category</h2>
<%= pie_chart @c %>
