<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-100 dark:bg-blueGray-800">
  <div class="max-w-7xl mx-auto px-2 md:px-5">
    <div class="relative flex items-center justify-between h-16">

      <%# Mobile menu button %>
      <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
        <button   type="button "
                  onclick="openMobileMenu()"
                  class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 focus:outline-none"
                  aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <%# Icon when menu is closed, Menu open: "hidden", Menu closed: "block" %>
          <%= heroicon "menu",
                       options: {
                         class: "hidden h-6 w-6 text-gray-700 dark:text-gray-200",
                         id: "close-movil-menu-icon"} %>

          <%# Icon when menu is open. Menu open: "block", Menu closed: "hidden" %>
          <%= heroicon "menu-alt-2",
                       options: {
                         class: "block h-6 w-6 text-gray-700 dark:text-gray-200",
                         id: "open-movil-menu-icon"} %>
        </button>
      </div>

      <%# Logo and button %>
      <div class="flex-1 flex items-center justify-center md:items-stretch md:justify-between">

        <%# Logo %>
        <div class="flex-shrink-0 flex items-center justify-self-end">
          <i class="fas fa-piggy-bank text-4xl font-bold text-gray-700 dark:text-gray-200 lg:text-3xl hover:text-rose-400 dark:hover:text-red-200"></i>
        </div>

        <%# Buttons %>
        <div class="hidden md:block md:ml-6">
          <div class="flex items-center space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

            <!-- DASHBOARDS DROPDOWN PC MENU -->
            <%=render DropDownButton::Component.new(title: "Dashboards",
                                                          links: {
                                                            "Monthly" => dashboards_monthly_path,
                                                            "Annual" => dashboards_annual_path
                                                          }) %>

            <%=render DropDownButton::Component.new(title: "My Finances",
                                                          links: {
                                                            "Expenses" => financial_objects_expenses_path,
                                                            "Incomes" => financial_objects_incomes_path,
                                                            "Payment Methods" => financial_objects_payment_methods_path
                                                          }) %>

            <%=render DropDownButton::Component.new(title: "Categories",
                                                          links: {
                                                            "Expenses" => categories_category_expenses_path,
                                                            "Incomes" => categories_category_incomes_path
                                                          }) %>

            <a href="#" class="solo nav-bar-button disable">Goals</a>

          </div>
        </div>
      </div>

      <%# DarkMode Button and User picture/Login-Signup button(s) %>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0">

        <%# DarkMode Button %>
        <button id="switchTheme" class="h-10 w-10 flex justify-center items-center focus:outline-none text-gray-700
        dark:text-gray-200">
          <%= heroicon "moon", options: { class: "absolute text-gray-700 dark:text-transparent w-6" } %>
          <%= heroicon "sun", options: { class: "absolute text-transparent dark:text-gray-200 w-6" } %>
        </button>

        <%# User picture buttons %>
        <%= render PictureDropDown::Component.new(picture_url: decorate(current_user).gravatar_url) %>

      </div>
    </div>

  </div>

  <%# Mobile menu, show/hide based on menu state, given by openMobileMenu() %>
  <div class="block md:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">

      <%= render MobileDropDownButton::ComponentComponent.new(icon: "chart-pie",
                                                              title: "Dashboards",
                                                              links: {
                                                                "Monthly" => dashboards_monthly_path,
                                                                "Annual" => dashboards_annual_path
                                                              }) %>

      <%= render MobileDropDownButton::ComponentComponent.new(icon: "credit-card",
                                                              title: "My Finances",
                                                              links: {
                                                                "Expenses" => financial_objects_expenses_path,
                                                                "Incomes" => financial_objects_incomes_path,
                                                                "Payment Methods" => financial_objects_payment_methods_path
                                                              }) %>

      <%= render MobileDropDownButton::ComponentComponent.new(icon: "tag",
                                                              title: "Categories",
                                                              links: {
                                                                "Categories for Expenses" => categories_category_expenses_path,
                                                                "Categories for Incomes" => categories_category_incomes_path,
                                                              }) %>

    </div>
  </div>

</nav>

<script>
    /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
    function openMobileMenu() {
        document.getElementById('mobile-menu').classList.toggle("hidden");
        document.getElementById('mobile-menu').classList.toggle("block");
        document.getElementById('open-movil-menu-icon').classList.toggle("hidden");
        document.getElementById('open-movil-menu-icon').classList.toggle("block");
        document.getElementById('close-movil-menu-icon').classList.toggle("hidden");
        document.getElementById('close-movil-menu-icon').classList.toggle("block");
    }
</script>

<script>
    document.getElementById('switchTheme').addEventListener('click', function() {
        let htmlClasses = document.querySelector('html').classList;
        if(localStorage.theme == 'dark') {
            htmlClasses.remove('dark');
            localStorage.removeItem('theme')
        } else {
            htmlClasses.add('dark');
            localStorage.theme = 'dark';
        }
    });
</script>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
