<%= form_with(model: categories_category_income) do |form| %>
  <% if categories_category_income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categories_category_income.errors.count, "error") %> prohibited this categories_category_income from being saved:</h2>

      <ul>
        <% categories_category_income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :title %>
    <%#= form.text_field :title %>
    <%= render(InputTextField::Component.new(form: form,
                                             attribute_name: :title)) %>
  </div>

  <div class="field">
    <%= render(InputTextField::Component.new(form: form,
                                             attribute_name: :icon)) %>
  </div>

  <div class="field">
    <%= render(ColorPicker::Component.new(klass: form.object_name,
                                          form: form,
                                          attribute_name: :color,
                                          color: categories_category_income.color)) %>
  </div>

  <div class="actions">
    <%= render(SubmitFormButton::Component.new(form: form)) %>
  </div>
<% end %>
